#boxes {
  content: "";
  display: table;
  clear: both;
}

#time_column {
  background-color: #FFFFFF;
  border-right: 1px solid black;

  float: left;
  height: 700px;
  width: 10%;
  padding: 0 10px;
}

#column1 {
  background-color: #FFFFFF;
  border-right: 1px solid black;

  float: left;
  height: 700px;
  width: 10%;
  padding: 0 10px;
}

#column2 {
  background-color: #FFFFFF;
  border-right: 1px solid black;

  float: left;
  height: 700px;
  width: 10%;
  padding: 0 10px;
}

#column3 {
  background-color: #FFFFFF;
  border-right: 1px solid black;

  float: left;
  height: 700px;
  width: 10%;
  padding: 0 10px;
}
#column4 {
  background-color: #FFFFFF;
  border-right: 1px solid black;

  float: left;
  height: 700px;
  width: 10%;
  padding: 0 10px;
}

#column5 {
  background-color: #FFFFFF;
  border-right: 1px solid black;

  float: left;
  height: 700px;
  width: 10%;
  padding: 0 10px;
}
#column6 {
  background-color: #FFFFFF;
  border-right: 1px solid black;

  float: left;
  height: 700px;
  width: 10%;
  padding: 0 10px;
}
#column7 {
  background-color: #FFFFFF;
  border-right: 1px solid black;

  float: left;
  height: 700px;
  width: 10%;
  padding: 0 10px;
}


#sessionBlock {
	text-align: right;
	height:30px;
	background-color:white;
	
}

div[id^="1sessionBlock_"]{
	text-align: right;
	height:30px;
	background-color:white;
	
}
div[id^="2sessionBlock_"]{
	text-align: right;
	height:30px;
	background-color:white;
	
}
div[id^="3sessionBlock_"]{
	text-align: right;
	height:30px;
	background-color:white;
	
}
div[id^="4sessionBlock_"]{
	text-align: right;
	height:30px;
	background-color:white;
	
}
div[id^="5sessionBlock_"]{
	text-align: right;
	height:30px;
	background-color:white;
	
}
div[id^="6sessionBlock_"]{
	text-align: right;
	height:30px;
	background-color:white;
	
}
div[id^="7sessionBlock_"]{
	text-align: right;
	height:30px;
	background-color:white;
	
}

#timeBlock {
	text-align: right;
	height:30px
}

h2 {
  color: #000000;
  text-align: center;
}
